<g class="hand-model">
  <g class="h-forearm"{% if include.fade %} mask="url(#mask-arm)"{% endif %}>
    <path class="solid" d="M6 -15C-40 -15.9 -110 -17.2 -260 -18V19.5C-110 18.7 -40 17.9 6 17.2Z"/>
    <path class="k" d="M6 -15C-40 -15.9 -110 -17.2 -260 -18"/>
    <path class="k" d="M6 17.2C-40 17.9 -110 18.7 -260 19.5"/>
    {%- if include.band %}
    <g class="h-band">
      <rect class="patch" x="-50" y="-20" width="22" height="41" rx="5"/>
      <circle class="electrode" cx="-39" cy="-9.5" r="2.8"/>
      <circle class="electrode" cx="-39" cy="0.5" r="2.8"/>
      <circle class="electrode" cx="-39" cy="10.5" r="2.8"/>
      <path class="emg-wave"/>
    </g>
    {%- endif %}
  </g>
  <path class="k solid far h-digit"/>
  <path class="k solid far h-digit"/>
  <path class="k solid far h-digit"/>
  <path class="solid" d="M-6 -14.9C28 -15.4 52 -17.6 66 -18.4L82 -8V10L70 15.4C54 18.6 36 20.6 22 20.4C12 20.2 5 18.4 -6 17.1Z"/>
  <path class="k" d="M-6 -14.9C28 -15.4 52 -17.6 66 -18.4"/>
  <path class="k" d="M70 15.4C54 18.6 36 20.6 22 20.4C12 20.2 5 18.4 -6 17.1"/>
  <path class="k solid h-digit"/>
  <path class="k thin h-nail"/>
  <path class="k solid h-digit"/>
  <path class="k thin h-nail"/>
</g>
